.text-strike,
.done-todo {
  text-decoration: line-through;
}

.handwritten {
  font-family: var(--handwritten-font);
  font-size: 1.1rem;
}

.done-todo {
  opacity: 0.7;
}

.no-items {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.6);
}

.passed-due {
  color: rgb(255, 0, 0);
  font-style: italic;
  text-decoration: underline;
}

.due-in-five {
  color: rgb(243, 247, 36);
  font-style: italic;
}

.hidden {
  display: none;
}

.placeholder-red {
  &::placeholder {
    opacity: 1;
    color: red;
  }

}

.close-modal-btn {
  background-color: var(--red-color);
  box-shadow: var(--box-shadow);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: fff;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 25px;
  height: 35px;
  width: 35px;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 50%;
}

.del-all-complete-btn {
  cursor: pointer;
  border-radius: var(--rounded-corners);
  box-shadow: var(--box-shadow);
  background-color: var(--red-color);
  padding: 0.5rem 1.5rem;
  color: white;
  border: none;
}
