@media only screen and (min-width: 1600px) {
  body {
    padding-left: 30vw;
    padding-right: 30vw;
  }

  .input-active {
    left: 30vw;
    right: 30vw;
    bottom: 0;

    .todo-input {
      width: 100%;
    }

    .todo-datepicker,
    .todo-category {
      width: 12vw;
    }

    .add-todo-btn,
    .reset-btn {
      width: 10vw;
    }
  }

  footer {
    height: calc(var(--footer-height) * 1.1);
    left: 30vw;
    right: 30vw;
  }
}
