@media only screen and (min-width: 1024px) {
  body {
    padding-left: 20vw;
    padding-right: 20vw;
  }

  header {
    background-position-y: 60%;
  }

  .info-bar {
    border-bottom-left-radius: var(--rounded-corners);
    border-bottom-right-radius: var(--rounded-corners);
  }

  .sorting-active,
  .about-active {
    left: 20vw;
    right: 20vw;
  }

  .input-active {
    left: 20vw;
    right: 20vw;
    bottom: 0;

    .todo-datepicker,
    .todo-category {
      width: 20vw;
    }

    .add-todo-btn,
    .reset-btn {
      width: 15vw;
    }
  }

  .todo {
    width: 100%;
  }

  footer {
    height: calc(var(--footer-height) * 1.2);
    left: 20vw;
    right: 20vw;
    border-top-left-radius: var(--rounded-corners);
    border-top-right-radius: var(--rounded-corners);

    .footer-icon {
      font-size: 3.5rem; 
    }

    .sorting-btn {
      left: 3vw;
    }
  
    .about-btn {
      right: 3vw;
    }
  }

}
