@mixin flex-center-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  padding-bottom: var(--footer-height);
}

main {
  position: relative;
}

.sorting-section,
.about-section {
  display: none;
}

.sorting-active,
.about-active {
  background-color: var(--background-color);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 40;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.sorting-active {
  align-items: center;
}

.about-active {
  padding: 4rem 2rem;
  line-height: 1.75;
  overflow-y: auto;
  
  h2 {
    margin-bottom: 1.25rem;
  }

  p, a {
    font-size: 1.125rem;
    margin-bottom: 1.75rem;
  }

  a, a:visited {
    color: rgb(255, 255, 255);
  }

  span.ex-icon {
    margin: 0 0.25rem;
    font-size: 1.75rem;
  }

  button {
    margin: 0.125rem;
    padding: 0.25rem 0.75rem;
  }

  .flex-p {
    display: flex;
    align-items: center;

    input {
      margin-left: 1rem;
      height: 35px;
      width: 35px;
    }
  }
}

.sorting-container {
  @include flex-center-col;

  padding: 4rem;

  h2 {
    align-self: flex-start;
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
    margin-left: -4rem;
  }
}

.sorting-list {
  display: flex;
  flex-direction: column;

  li {
    margin-bottom: 1.5rem;

    label {
      font-size: 1.25rem;
    }
  }

  input[type='radio'] {
    height: 1.5rem;
    width: 1.5rem;
  }
}

header {
  background-image: url('/src/images/mobile-header3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 20%;
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  z-index: 20;
}

.logo-wrapper {
  @include flex-center-col;

  height: var(--header-height);
  padding-top: 1rem;
  background: rgb(58, 78, 180);
  background: linear-gradient(
    90deg,
    rgba(58, 78, 180, 0.85) 0%,
    rgba(46, 69, 185, 0.85) 50%,
    rgba(36, 67, 225, 0.85) 100%
  );
}

.logo-container {
  h1 {
    font-family: var(--logo-font);
    text-shadow: -1px 2px 5px rgba(0, 0, 0, 0.7);
  }
}

.sub-container {
  font-family: var(--logo-font);

  .logo-subtext {
    font-size: 0.85rem;
  }
}

.info-bar {
  background-color: var(--background-color);
  position: sticky;
  top: var(--header-height);
  left: 0;
  right: 0;
  width: 100%;
  padding: 0.25rem 1rem;
  box-shadow: var(--box-shadow);
  z-index: 20;
}

.main-container {
  min-height: 40vh;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} 

.input-section {
  display: none;
}

.input-active {
  max-width: 100vw;
  background-color: var(--background-color);
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 10vh;
  padding-bottom: 40vh;
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
  row-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'input-label input-label input-label input-label'
    '. input input .'
    'date date category category'
    '. add-item reset-btn . ';

  #input-label {
    grid-area: input-label;
    font-size: 1.5rem;
  }

  .todo-input {
    border-radius: var(--rounded-corners);
    grid-area: input;
    height: 3rem;
    justify-self: center;
    padding: 1rem;
    width: 100%;
  }

  input:not([type='text']),
  select {
    height: 2rem;
    border-radius: var(--rounded-corners);
    border: none;
  }

  #date-label {
    @include flex-center-col;
    margin-right: 1rem;

    grid-area: date;
  }

  #category-label {
    @include flex-center-col;

    grid-area: category;
    width: max-content;
  }

  .todo-datepicker,
  .todo-category {
    margin-top: 0.125rem;
    padding: 0.125rem 0.5rem;
    width: 40vw;
  }

  .add-todo-btn,
  .reset-btn {
    cursor: pointer;
    border-radius: var(--rounded-corners);
    box-shadow: var(--box-shadow);
    color: white;
    border: none;
    margin-top: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 3rem;
    width: 30vw;
  }

  .add-todo-btn {
    background-color: var(--green-color);
    grid-area: add-item;
  }

  .reset-btn {
    background-color: var(--red-color);
    grid-area: reset-btn;
  }
}

.todo-section,
.done-section {
  margin-bottom: 1rem;
  padding: 1rem;

  h2 {
    align-self: flex-start;
    margin-bottom: 0.5rem;
  }
}

.done-section {
  margin-top: 1rem;

  button.del-all-complete-btn {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo-container,
.done-container {
  @include flex-center-col;

  padding: 0.25rem;
}

.todo {
  position: relative;
  box-shadow: var(--box-shadow), 0px 0px 2px 0px rgba(255, 255, 255, 1);
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  width: 100%;
  max-width: 550px;
  column-gap: 1rem;
  padding: 0.55rem;
  border-radius: var(--rounded-corners);
  margin-bottom: 1rem;
  background-color: rgba(26, 26, 26, 0.5);
  z-index: 10;
}

.left-grid {
  // todo checkbox container
  @include flex-center-col;

  width: 2.5rem;

  input[type='checkbox'] {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.middle-grid {
  // todo title and due date container
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .todo-title {
    font-size: 1.25rem;
    padding-top: 0.5rem;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  .date-section {
    font-size: 0.9rem;

    span {
      margin-left: 0.25rem;
    }
  }
}

.right-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .category-icon-container {
    padding: 0.25rem;

    span {
      font-size: 1.5rem;
    }
  }

  .delete-btn {
    @include flex-center-col;

    cursor: pointer;
    border: none;
    height: 35px;
    width: 35px;
    background: transparent;
    color: white;

    span {
      font-size: 1.5rem;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--footer-height);
  background-color: var(--background-color);
  z-index: 20;

  .footer-btn {
    position: absolute;
    bottom: 2vh;
    cursor: pointer;
    background: transparent;
    border: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-icon {
    font-size: 2.5rem;
    text-shadow: -1px 2px 2px rgba(114, 114, 114, 0.9);
  }

  .sorting-btn {
    left: 6vw;
  }

  .about-btn {
    right: 6vw;
  }
}

.open-todo-input-btn {
  position: relative;
  left: 50%;
  top: -2.5rem;
  transform: translateX(-50%);
  height: 4rem;
  width: 4rem;
  padding: 2.25rem;
  font-size: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: white;
  background-color: var(--green-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    text-shadow: -1px 2px 2px rgba(114, 114, 114, 0.9);
    box-shadow: 2px 2px 11px 2px rgba(114, 114, 114, 0.4);
  }
}

@media screen and (orientation: landscape) and (max-device-height: 600px) {
  header,
  .logo-wrapper,
  .logo-container {
    height: 0;
    display: none;
  }

  .info-bar {
    top: 0;
  }

  .input-active {
    top: 0;
    padding: 1.5rem 2rem;
    row-gap: 1rem;

    #input-label {
      font-size: 1.25rem;
    }

    .add-todo-btn,
    .reset-btn {
      margin-top: 0.5rem;
    }

    .todo-category,
    .todo-datepicker {
      width: 30vw;
    }
  }

  .todo-container,
  .done-container {
    align-items: flex-start;
    padding-left: 2rem;
  }

  .done-container {
    margin-bottom: 2.5rem;
  }

  .todo {
    width: 70vw;
  }

  footer {
    height: calc(var(--footer-height) * 2);
  }
}
