@mixin flex-center-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  padding-bottom: var(--footer-height);
}

// main

header {
  @include flex-center-col;

  background-color: var(--primary-color);
  padding-top: 0.5rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
}

.logo-container {
  h1 {
    text-shadow: -1px 2px 2px rgba(114, 114, 114, 0.9);
  }
}

.sub-container {
  .logo-subtext {
    font-size: 0.85rem;
  }
}

.info-bar {
  background-color: var(--background-color);
  position: sticky;
  top: var(--header-height);
  left: 0;
  right: 0;
  width: 100%;
  // border: 1px solid blue;
  padding: 0.25rem;
}

.main-container {
  // border: 1px solid green;
  padding: 1.5rem 1rem;
  padding-bottom: calc(var(--footer-height) - 2vh); // för att "+-knappen" inte ska dölja content
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(80vh - (var(--header-height) + var(--footer-height)));
  overflow-y: auto;
}

.input-section {
  display: none;
}

.input-active {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 2rem 1rem;
  display: grid;
  row-gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'input-label input-label input-label input-label'
    'input input input input'
    'date . . category '
    'add-item . . reset-btn';

  button.close-input {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: fff;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 35px;
    width: 35px;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 50%;
  }

  #input-label {
    grid-area: input-label;
    justify-self: center;
    font-size: 1.5rem;
  }

  .todo-input {
    border-radius: var(--rounded-corners);
    grid-area: input;
    height: 3rem;
    justify-self: center;
    padding: 1rem;
    width: 80%;
  }

  #date-label {
    grid-area: date;

    .todo-datepicker {
      height: 2rem;
      border-radius: var(--rounded-corners);
    }
  }

  #category-label {
    @include flex-center-col;

    grid-area: category;
    width: max-content;

    select {
      height: 2rem;
      border-radius: var(--rounded-corners);
    }
  }

  .add-todo-item {
    grid-area: add-item;
  }

  .reset-btn {
    grid-area: reset-btn;
  }
}

.todo-section,
.done-section {
  margin-bottom: 1rem;

  h2 {
    align-self: flex-start;
    margin-bottom: 0.5rem;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo-container,
.done-container {
  @include flex-center-col;

  button {
    @include flex-center-col;

    cursor: pointer;
    border: none;
    height: 35px;
    width: 35px;;
    background-color: rgba(26, 26, 26, 0.3);
    color: white;

    span {
      font-size: 2rem;
    }
  }

  .todo {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.6);
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    width: 100%;
    column-gap: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #fff;
    border-radius: var(--rounded-corners);
    margin-bottom: 0.75rem;
    background-color: rgba(26, 26, 26, 0.3);
  }

  .left-grid {
    @include flex-center-col;
    
    width: 2.5rem;

    input[type=checkbox] {
      border-radius: 50%;
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  .done-section {
    h2 {
      margin-bottom: 0.5rem;
    }
  }
}

footer {
  position: fixed;
  // border: 1px solid pink;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--footer-height);
  background-color: var(--background-color);

  .footer-icon {
    position: absolute;
    bottom: 2vh;
    font-size: 3rem;
    cursor: pointer;
    text-shadow: -1px 2px 2px rgba(114, 114, 114, 0.9);
  }

  .sorting-icon {
    left: 6vw;
  }

  .settings-icon {
    right: 6vw;
  }
}

.open-add-todo-btn {
  position: relative;
  left: 50%;
  top: -2.5rem;
  transform: translateX(-50%);
  height: 4rem;
  width: 4rem;
  font-size: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: white;
  background-color: rgb(56, 160, 25);
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    text-shadow: -1px 2px 2px rgba(114, 114, 114, 0.9);
    box-shadow: 2px 2px 11px 2px rgba(114, 114, 114, 0.4);
  }
}
