@media only screen and (min-width: 768px) {
  header {
    background-position-y: 50%;
  }

  .main-container {
    padding: 1rem 1.5rem;
  }

  .info-bar {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }

  .input-active {
    row-gap: 3rem;
    padding: 6rem 3rem;

    .todo-input {
      height: 3rem;
      width: 80%;
      padding: 2rem 1.5rem;
      font-size: 1.5rem;

      &::placeholder {
        font-size: 1.5rem;
      }
    }

    input:not([type='text']),
    select {
      height: 3rem;
    }

    .todo-datepicker,
    .todo-category {
      width: 35vw;
      font-size: 1.25rem;
      padding: 0.25rem 0.75rem;
    }
  }

  .todo-container,
  .done-container {
    align-items: flex-start;
    padding-left: 2rem;
  }

  .todo {
    width: 80vw;
    max-width: 700px;
  }

  footer {
    .footer-icon {
      font-size: 3rem; 
    }
  }

}
