:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: rem(16px);
  background: rgb(50, 50, 50);
  background: var(--bg-gradient);
  color: white;

  --header-height: 14vh;
  --footer-height: 10vh; // body padding-bottom samma värde i mobile
  --handwritten-font: 'Caveat', cursive;
  --primary-color: rgb(145, 41, 0);
  --green-color: rgb(56, 160, 25);
  --red-color: rgb(184, 14, 8);
  --background-color: rgb(29 28 28); // för root, footer & info-bar..
  --bg-gradient: radial-gradient(circle,
                             rgba(50, 50, 50, 1) 0%,
                             rgba(46, 46, 46, 1) 39%,
                             rgba(29, 28, 28, 1) 100%);
  --rounded-corners: 10px;
  --box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.9);
}
